<a href="https://colab.research.google.com/github/Maihrendson/Estudos-Programacao/blob/main/CodigoEstudos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("O primeiro codigo de muitos"):

In [ ]:
carros = []
while True:
  carro = (input("insira o nome do carro: "))
  if carro == "0":
    break
  carros.append(carro)

print(carros)
print(len(carros))

In [ ]:
frutas = ["morango", "banana", "laranja","limão","lima"]
print(frutas)

In [ ]:
frutas = ["morango", "banana", "laranja","limão","lima","pera","pera","uva","uva"]
print(frutas.count("banana"))

In [ ]:
lista = ['jaca','melao','banana','uva','pera',' graviola','abacaxi']
fruta_remover = 'uva' and 'banana'
lista = [x for x in lista if x != fruta_remover]
print(lista)

In [ ]:
notas = [6, 8, 5, 4, 7, 7, 9, 3, 6,]
notas = [x for x in notas if x >= 7]
print(notas)

In [ ]:
lista = ["maçã","banana","laranja"]
indice = lista.index("banana")
print(lista)
print(indice)

In [ ]:
print(len(frutas))

In [ ]:
Valor_compra = int(input('Qual valor da compra? '))

Valor_compra = 200

if Valor_compra >= 1000:
  print(Valor_compra * 0.3)
elif Valor_compra >= 500:
  print(Valor_compra * 0.2)
elif Valor_compra >= 100:
  print(Valor_compra * 0.1)
else:
  print('Sem desconto otário')

In [ ]:
  Num1 = float(input('Digite o valor do numero: '))
  Num2 = float(input('Digite o valor do numero: '))

  print(Num1 + Num2)

In [ ]:
Impar_par = (input('impar-par:'))

if Impar_par in ("2,4,6,8,10") :
  print('brino win')

if Impar_par in ("1,3,5,7,9") :
  print('felca win')

In [ ]:
Lista_Aprovados = int(input('Digite a sua nota:   '))

if Lista_Aprovados >= 7:
  print('Parabéns você foi aprovado!! ')
elif Lista_Aprovados >=4:
  print('Estude mais!! você está de recuperação. ')
else:
  print('Você foi reprovado!! ')

In [ ]:
media1 = int(input('Digite a sua nota:   '))
media2 = int(input('Digite a sua nota:   '))
media3 = int(input('Digite a sua nota:   '))

media = ((media1 + media2 + media3) /3)

if media >= 7:
  print('Parabéns você foi aprovado!! ')
elif media >=4:
  print('Estude mais!! você está de recuperação. ')
else:
  print('Você foi reprovado!! ')

In [ ]:
num = int(input('Qual numero voce jogou?: '))

if num % 2 == 0:
  print('Deu par!!')

else:
  print('Deu impar!!')

In [ ]:
Num1 = int(input('Qual seu primeiro número? '))
Num2 = int(input('Qual seu segundo número? '))

if Num1 > Num2:
  print(f"{Num1} É maior que {Num2}")
elif Num1 < Num2:
  print(f"{Num2} É maior que {Num1}")
else:
  print(f"{Num1} É igual a {Num2}")

In [ ]:
contador = 1
while contador <= 20:
  print(contador)
  contador = contador + 1

In [ ]:
contador = 10
while contador >= 1:
  print(contador)
  contador = contador - 1

In [ ]:
contador = 1
while contador < 10:
  contador += 1
  if contador % 2 == 0:
    print(contador)

In [ ]:
num = int(input("digite um numero: "))

while num != 0:
  print(num**2)
  num = int(input("digite um numero novamente: "))

In [ ]:
while True:
  num = int(input('Insira um número: '))
  if num == 0:
    break
  print(num**2)

In [ ]:
for numero in range(1, 11):
  print(numero)

In [ ]:
for numero in range(10, 0, -1):
  print(numero)

In [ ]:
for numero in range(1, 21):
  print(numero)

In [ ]:
soma = 0

for numero in range(1, 101):
  soma += numero

  print(soma)

In [ ]:
for numero in range(1, 11):
  if numero % 2 != 0:
    print(numero)

In [ ]:
import random

numero = random.randint(0,100)
print(numero)

In [ ]:
print("MENU")
print()
print(f"1.Adicionar Tarefa\n2.Remover Tarefa\n3.Listar Tarefas\n4.Sair ")
while True:
  match input("Escolha uma opção: "):
    case "1":
        task = (input("Adicionar Tarefa: "))
        print("Tarefa Adicionada: " +  task)
    case "2":
      print("Remover Tarefa: " + task)
      print("Tarefa Removida")
    case "3":
      print("Listar Tarefas " + task)
    case "4":
      print("Sair")
      break

In [ ]:
notas = [ 6, 8, 5, 4, 7, 7, 9, 3, 6]
menores = [nota for nota in notas if nota < 5]
print(menores)

In [ ]:
quadrados = [x**2 for x in range(10)]
print(quadrados)

In [ ]:
nome = 'Maihrendson'
for letra in nome:
  print(letra)
print(len(nome))
print(nome.upper())
print(nome.lower())

In [ ]:
nomes = ['Joao', 'Jó', 'Maira', 'Pedro', 'Wesley', 'Maihrendson', 'Madeixas']
Ordem = [ nome for nome in nomes if len(nome) > 4 ]
print(Ordem)

In [ ]:
nomes = ['Joao', 'Jó', 'Maira', 'Pedro', 'Wesley', 'Maihrendson', 'Madeixas']
caixaAlta = [nome.upper() for nome in nomes if len(nome) <= 4 ]
print(caixaAlta)

In [ ]:
notas = [9.0, 4.5, 2.3, 6.0, 8.2, 5.3]
Extras = [nota+2 for nota in notas if nota < 5]
print(Extras)

In [ ]:
metade = lambda a : a/2
print (metade(10))

In [ ]:
numeros = [ 2, 3, 4, 5, 6, 7]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

In [ ]:
nomes = ['Joao', 'Jó', 'Maira', 'Pedro', 'Wesley', 'Maihrendson', 'Madeixas']
Filtro = list(filter(lambda x: len(x) > 4, nomes))
print(Filtro)

In [ ]:
Contagem = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 21, 10, 31, 53, 132, 45, 65, 75]
Maiores10 = list(filter(lambda x: int(x) > 10, Contagem))
print(Maiores10)

In [ ]:
listados = [3,7,2,8,1,4,10]
dobrar = list(map(lambda x: x*2, listados))
print(dobrar)

NumeroPar = list(filter(lambda x : x % 2 == 0, listados))
print(NumeroPar)

ParesImpares = list(map(lambda x: x*2 if x % 2 == 0 else x, listados))
print(ParesImpares)